@charset "UTF-8";

html {
	font-size: 62.5%;
}

.container2 {
	display: flex;
	/* height:px; */
	/* border:1px solid black; */
}

.fonttitle {
	position: relative;
	top: 1.875rem;
	/* border:1px solid black; */
	font-size: 4.125rem;
	font-family: Arial, Helvetica, sans-serif;
	color: chocolate;
	font-weight: bolder;
	text-align: center;
	width: 100%;
	height: 3.125rem;
	line-height: 3.125rem;
	color: chocolate;
}

.main_left {
	width: 20%;
	height: 40rem;
	float: left;
	background: #81d181;
	border: 10px solid #2c7702;
	border-radius: .5rem;
	font-size: 1.875rem;
	/* padding: 20px; */
	/* margin-top: 20px; */
	text-align: center;
	position: fixed;
	top: 0;
	left: 1rem;
}

.backcol {
	background-color: white;
	/*background-color:#d4f9cc;*/
}

.backcol_dson {
	/*background-color: #cdf8cd;*/
	background-color: #81d181;
}

ul {
	padding: 0;
	margin: 0;
}

.main_left ul li {
	list-style: none;
	cursor: pointer;
	position: relative;
	font-family: STXingkai;
	top: 3.9rem;
	font-size: 3.05rem;
	margin-top: 2.575rem;
	list-style: none;
	color: white;
	/*添加过度效果*/
	transition: all .4s;
}

.main_left ul li:hover {
	/*鼠标经过添加放大效果*/
	transform: scale(1.2);
}

.main_right {
	margin-left: 25%;
	width: 70%;
	float: right;
	/* border: 5px solid black; */
	/* margin-top: 10px; */
	position: relative;
	top: 1.25rem;
	/* margin:0 auto ; 	height: 1000px;*/
}

.div1 {
	/* border: 1px solid black; */
	width: 100%;
	font-size: 1.25rem;
	display: flex;
	margin-top: 5rem;
	text-align: center;
}

.div1 div {
	width: 45%;
	/* border: 1px solid; */
}

.arstyle {
	text-align: center;
	width: 80%;
	/* border: 1px solid; */
	margin-top: 3.125rem;
	font-weight: bolder;
	font-size: 1.875rem;
}

.arstyle textarea {
	width: 100%;
	height: 75%;
	font-size: 1.25rem;
}

.arstyle button {
	margin-top: 1.25rem;
	width: 11.25rem;
	height: 3.125rem;
	font-size: 1.25rem;
	font-weight: bold;
	color: rgba(44, 126, 21, 0.918);
	background-color: rgba(255, 243, 136, 0.932);
	border-radius: .625rem;
}

.iframeType {
	width: 100%;
	height: 68rem;
	/*border: 5px solid rgb(226, 212, 82);*/
	border: .625rem solid #2c7702;
	border-radius: 1.25rem;
	position: relative;
	top: 2.5rem;
}
.logoutBtn_type {
	cursor: pointer;
	background: none;
	border-style: none;
	text-decoration: underline;
	font-size: 1.5375rem;
	color: red;
}
.doctorshowdiv1 {
	text-align: center;
	width: 90%;
	margin-top: .625rem;
	margin-left: 3.125rem;
}

.doctorShowTypeAll {
	/* border: 2px solid black; */
	width: 100%;
	height: 31.25rem;
}

.partdoctor {
	/* border: 2px solid salmon; */
	border-radius: .3125rem;
	margin-top: .125rem;
	text-align: center;
	font-size: 1.5625rem;
	font-weight: bold;
	padding-left: 10rem;
	padding-right: 10rem;
	width: 85%;
}

.partdoctorAttr {
	margin-left: 1.25rem;
	/* border:1px solid;*/
	width: 9.375rem;
}

.partdoctorValue {
	/* margin-top: 10px; */
	width: 13.75rem;
	text-align: left;
	/* border:1px solid;*/
	margin-bottom: .3125rem;
}

.load_btn {
	background-color: rgb(255, 173, 22);
	font-size: 1.25rem;
	font-weight: bold;
	color: rgb(242, 249, 255);
	border-radius: .5rem;
	width: 10.75rem;
	height: 3.125rem;
	/* margin-top: 10px; */
	text-align: center;
}

.chooseupload_btn {
	background-color: rgb(255, 173, 22);
	font-size: 1.25rem;
	font-weight: bold;
	color: rgb(242, 249, 255);
	border-radius: .5rem;
	width: 18.75rem;
	height: 3.125rem;
	margin-top: .9375rem;
	margin-bottom:.9375rem;
	text-align: center;
}

.chooseupload_btn1 {
	background-color: rgb(255, 173, 22);
	font-size: 1.25rem;
	font-weight: bold;
	color: rgb(242, 249, 255);
	border-radius: .5rem;
	width: 18.75rem;
	height: 3.125rem;
	margin-top: .9375rem;
	text-align: center;
	margin-bottom: .3125rem;
}

h1 {
	text-align: center;
	margin-top: .3125rem;
}

.selectSubSecidType {
	font-size: 1.25rem;
	border-radius: .3125rem;
	margin-top: 1.5625rem;
	width: 17.5rem;
	text-align: center;
}

.aaaAttr {
	margin-top: 1.875rem;
	margin-right: 1.875rem;
	margin-left: 5rem;
	font-size: 2.0rem;
}

.allposiType {
	text-align: center;
	font-size: 1.25rem;
	/* border: 1px solid black; */
}

.controlPosiType {
	margin: 0 auto;
	border: .4375rem solid black;
	border-radius: .3125rem;
	width: 56.25rem;
}

.changeInfoInputType {
	font-size: 2.315rem;
	height: 2.4rem;
	line-height: 2.4rem;
	border-radius: .3125rem;
	margin-top: 1.5625rem;
	width: 31.25rem;
	text-align: center;
}

.changeInfoTextarea {
	height: 15.25rem;
	font-size: 1.5625rem;
	border-radius: .3125rem;
	margin-top: 1.5625rem;
	width: 32.25rem;
}

.deleteDoctor_btn {
	background-color: rgb(255, 57, 22);
	font-size: 1.25rem;
	font-weight: bold;
	color: rgb(242, 249, 255);
	border-radius: .5rem;
	width: 11.75rem;
	height: 3.125rem;
	/* margin-top: 10px; */
	text-align: center;
}

select {
	border: .1875rem solid lightgreen;
	border-radius: .5rem;
	margin-top: .3125rem;

	/* vertical-align: bottom; */
	height: 3.1rem;
	line-height: 3.1rem;
}

.select_sec {
	border: .1875rem solid lightgreen;
	border-radius: .5rem;
	margin-top: .3125rem;
	width: 14.375rem;
	/* vertical-align: bottom; */
	height: 3.1rem;
	line-height: 3.1rem;
}

.subsecname {
	/* border: 1px solid; */
	height: 3.125rem;
	margin-left: 2.875rem;
	margin-top: .625rem;
	font-size: 2.725rem;
	font-weight: bold;
}

.selectheight {
	height: 3.125rem;
	line-height: 3.125rem;
	/* border: 1px solid; */
	/* vertical-align: ; */
}

.searcheDoctorBTNtype {
	background-color: lightgreen;
	font-size: 1.25rem;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	height: 4.125rem;
	width: 6.25rem;
	border: .3125rem solid rgb(253, 219, 157);
	border-radius: 50%;
	margin-left: .3125rem border-radius .3125rem;
}

.doctorinpuType {
	border-radius: .3125rem;
	height: 3.1rem;
	line-height: 3.1rem;
	width: 12.5rem;
	border: .1875rem solid lightgreen;
}

hr {
	width: 100%;
	size: .1875rem;
	margin-top: 1.25rem;
}

.changeDoctor_btn1 {
	background-color: rgb(22, 255, 34);
	font-size: 1.25rem;
	font-weight: bold;
	color: rgb(242, 249, 255);
	border-radius: .5rem;
	width: 10.75rem;
	height: 3.125rem;
	/* margin-top: 10px; */
	text-align: center;
}

.setScheduleDoctorInfoTypeLeft {
	width: 55rem;
	/* border: 1px solid; */
}

.setScheduleDoctorInfoTypeRight {
	width: 13.5rem;
	/* border: 1px solid; */
}

.uploaded_btn11 {
	background-color: rgb(160, 219, 72);
	font-size: 1.25rem;
	font-weight: bold;
	border-radius: .5rem;
	width: 12.75rem;
	height: 3.125rem;
	margin-top: .9375rem;
	text-align: center;
}

.doctorAlign {
	font-size: 1.4375rem;
	margin-left: .625rem;
}

.aaaAttr111 {
	font-size: 2.315rem;
	margin-top: 1.875rem;
	margin-right: 1.875rem;
	margin-left: 5rem;
		height:2.4rem;
	line-height: 2.4rem;
}
.active_type {
	background-color: red;
}

.operationFontType {
	font-size: 2.5625rem;
	font-family: cursive;
	font-weight: bold;
	position: relative;
	top: 3.7rem;
	color: blue;
}

.recordTypeImg {
	width: 4.21rem;
	height: 3.71rem;
	position: relative;
	top: 6.7rem;
	left: -7.925rem;
}